body {
  margin: 0;
  overflow-y: hidden;
}

img{
  width: 3955px;
  margin: 0;
}

.container {
  background-color: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
}

.door1 {
  width: 350px;
  height: 637px;
  margin: 0;
  overflow: hidden;
  background-image: url("../hallway/door-03.png");
  background-size: cover;
  position: absolute;
  bottom: 99px;
  left: 100px;
}

.door2 {
  width: 350px;
  height: 637px;
  margin: 0;
  overflow: hidden;
  background-image: url("../hallway/door-03.png");
  background-size: cover;
  position: absolute;
  bottom: 99px;
  right: 170px;
}

.floor {
  background-color: #D6A672;
  width: 3955px;
  height: 500px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}
