body {
  margin: 0;
  background-color: #B4ABED;
  overflow-y:hidden;
}

img{
  width: 4000px;
  min-height: 100vh;
  margin-bottom: 0;
}

.container {
  background-color: none;
  min-height: auto;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 0;
}

.child1 {
  margin: 0;
  position: relative;
  object-fit: contain;
}

.one {
  background-color: none;
  width: 303px;
  height: 584px;
  position: absolute;
  bottom: 93px;
  left: 265px;
  z-index: 1;
}

.two {
  background-color: none;
  width: 303px;
  height: 584px;
  position: absolute;
  bottom: 93px;
  left: 690px;
  z-index: 2;
}

.three {
  background-color: none;
  width: 303px;
  height: 584px;
  position: absolute;
  bottom: 93px;
  left: 1310px;
  z-index: 3;
}

.four {
  background-color: none;
  width: 303px;
  height: 584px;
  position: absolute;
  bottom: 93px;
  right: 420px;
}

.five {
  background-color: none;
  width: 303px;
  height: 584px;
  position: absolute;
  bottom: 93px;
  right: 990px;
}

.six {
  background-color: none;
  width: 303px;
  height: 584px;
  position: absolute;
  bottom: 93px;
  right: 1765px;
}

.back {
  width: 150px;
  height: 100vh;
  background-color: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

//////////////////////

.wall {
  background-color: #c0defe;
  display: flex;
  align-items: flex-end;
  width: 2550px;
  height: 685px;
  justify-content: space-evenly;
  padding: 10px;
  white-space: nowrap;
}

.door {
  width: 760px;
  height: 450px;
  padding: 5px;
  margin: 5px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('door-03.png');
}

.twixt {
  width: 150px;
  height: auto;
  padding: 3px;
  background-color: none;
  margin: 5px;
}
