* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: #331457;
}

.library {
  height: 100%;
  padding: 12px;
  padding-left: 6px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.door {
  width: 280px;
  height: 520px;
  padding: 5px;
  /* margin: 5px; */
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../hallway/door-03.png');
}

.door:hover {
  width: 280px;
  height: 520px;
  padding: 5px;
  box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.39);
  transition: 0.3s ease;
}

.bookshelf {
  width: 75%;
  height: 100%;
  margin: 25px auto;
  border: 10px #502286 solid;
  /* overflow: hidden; */
  padding: 15px;
}

.css-selector {
    height: 100%;
    background: linear-gradient(135deg, #cebbf2, #c69af1, #f4bee5);
    background-size: 300% 100%;
    -webkit-animation: shelf-bg 20s ease infinite;
    animation: shelf-bg 20s ease infinite;
}

@-webkit-keyframes shelf-bg {
  0%{background-position:0% 23%}
  50%{background-position:100% 78%}
  100%{background-position:0% 23%}
}

@keyframes shelf-bg {
    0%{background-position:0% 23%}
    50%{background-position:100% 78%}
    100%{background-position:0% 23%}
}

.bookends {
  width: 15%;
  height: 300px;
  margin: 40px auto;
  padding: 15px;
  background-color: none;
}

.book {
  height:300px;
  width: 60px;
  float: left;
  color: white;
  padding: 5px;
  font-size: 0.9em;
  font-family: Verdana, sans-serif;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 25px;
  margin-right: 1px;
  transition: transform 0.4s ease;
}

.book-tilted {
  float: left;
  width: 74px;
  margin-left:8px;
  margin-right: 25px;
}

.book-tilted > .book {
  transform: translateY(-3px) translateX(15px) rotate(9deg) ;
}

.book:hover {
  transform: scale(1.05);
}

.book-indiv {
  background-color: #E0994C;
  border-left: 4px solid lighten(#E0994C, 4%);
  border-right: 4px solid darken(#E0994C, 4%);
}

.book-comp {
  background-color: #BA7F3F;
  border-left: 2px solid lighten(#BA7F3F, 4%);
  border-right: 2px solid darken(#BA7F3F, 4%);
}

.book-sys {
  background-color: #FAA955;
  border-left: 2px solid lighten(#FAA955, 4%);
  border-right: 2px solid darken(#FAA955, 4%);
}

.book-excerpt {
  background-color: #7A532A;
  border-left: 2px solid lighten(#7A532A, 4%);
  border-right: 2px solid darken(#7A532A, 4%);
}

.book-springer {
  background-color: #b97859;
  border-left: 2px solid lighten(#b97859, 10%);
  border-right: 2px solid darken(#b97859, 10%);
  /* color: #3B2814; */
}

.book h2 {
  padding: 0;
  font-size: 1em;
  transform-origin: 0% 0%;
  transform: rotate(0.25turn) translateY(-40px);
  width: 300px;
}

.book h3 {
  padding: auto;
  font-size: 1em;
  transform-origin: 0 0;
  transform: rotate(0.25turn) translateY(-50px) translateX(47px);
  width: 200px;
}

.pubcat {
  width:600px;
  height: 30px;
  float: left;
  color: black;
  padding: 5px;
  font-size: 0.9em;
  font-family: Verdana, sans-serif;
  text-align: center;
  margin: auto;
  transition: transform 0.4s ease;
}
