body {
  margin: 0;
  background-color: #d8d0f7;
  overflow-y: hidden;
}

img{
  width: 4300px;
  margin: 0;
}

.container {
  background: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow-y: hidden;
}

.child1 {
  margin: 0;
  position: relative;
  object-fit: cover;
  overflow-y: hidden;
  overflow-x: scroll;
}

.door {
  width: 356px;
  height: 650px;
  margin: 5px;
  background-size: cover;
  background-position: center;
  background-image: url("../hallway/door-03.png");
  position: absolute;
  bottom: 93px;
  left: 180px;
  overflow: hidden;
}

.candle {
  width: 50px;
  height: 65px;
  border-radius: 25%;
  background-color: none;
  position: absolute;
  bottom: 291px;
  right: 1732px;
}

.parfum {
  width: 19px;
  height: 33px;
  background-color: none;
  position: absolute;
  bottom: 388px;
  left: 1259px;
}

.parfum .fenty {
  visibility: hidden;
  width: 165px;
  height: 66px;
  background-color: rgb(123, 114, 218);
  color: white;
  padding: 15px 0;
  margin: 3px;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 0.9rem;
  border-radius: 50%;
  /* padding: 4px 0; */
  position: absolute;
  z-index: 1;
  bottom: 29px;
  left: -147px;
}

.parfum .fenty::after {
  /* content: ""; */
  position: absolute;
  bottom: 176px;
  left: 800px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.pothos {
  width: 63px;
  height: 69px;
  background-color: none;
  position: absolute;
  bottom: 511px;
  right: 621px;
}

.pothos .purple {
  visibility: hidden;
  width: 180px;
  height: 90px;
  background-color: rgb(123, 114, 218);
  color: white;
  padding: 20px 0;
  margin: 3px;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 0.9rem;
  border-radius: 60%;
  position: absolute;
  z-index: 2;
  bottom: 5px;
  right: 40px;
}

.pothos .purple::after {
  /* content: ""; */
  position: absolute;
  bottom: 5px;
  right:40px;
  background-color: rgb(123, 114, 218);
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.jade {
  width: 62px;
  height: 40px;
  background-color: none;
  position: absolute;
  bottom: 511px;
  right: 528px;
}

.jade .blue {
  visibility: hidden;
  width: 195px;
  height: 90px;
  background-color: rgb(123, 114, 218);
  color: white;
  padding: 15px 0;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 0.9rem;
  border-radius: 60%;
  position: absolute;
  z-index: 2;
  bottom: -100px;
  right: -100px;
}

.jade .blue::after {
  /* content: ""; */
  position: absolute;
  bottom: 10px;
  right:523px;
  background-color: rgb(123, 114, 218);
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.parfum .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}

.pothos .show2 {
  visibility: visible;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}

.jade .show3 {
  visibility: visible;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

a {
  color: rgb(148, 230, 247);
}

.closet {
  width: 398px;
  height: 650px;
  background-color: none;
  position: absolute;
  bottom: 100px;
  right: 975px;
  overflow: hidden;
}

.drawer1 {
  width: 311px;
  height: 75px;
  background-color: green;
  position: absolute;
  top: 384px;
  right: 359px;
}

.floor {
  background-color: #5E3F26;
  width: 4300px;
  height: 500px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}
