body {
  margin: 0;
  overflow-y: hidden;
}

img{
  width: 1950px;
  margin: 0;
}

.container {
  background-color: none;
  display: flex;
  flex-direction: flex-end;
  margin: 0;
  padding: 0;
  position: absolute;
}

.child1 {
  margin: 0;
  position: relative;
  object-fit: cover;
}

.door {
  width: 360px;
  height: 650px;
  margin: 5px;
  background-size: cover;
  background-position: center;
  background-image: url("../hallway/door-03.png");
  position: absolute;
  bottom: 93px;
  right: 135px;
  overflow: hidden;
}

.faucetR {
  width: 32px;
  height: 8px;
  background-color: none;
  position: absolute;
  bottom: 435px;
  right: 983px;
}

.faucetL {
  width: 32px;
  height: 8px;
  background-color: none;
  position: absolute;
  bottom: 435px;
  right: 1061px;
}

.flush {
  width: 60px;
  height: 15px;
  background-color: none;
  position: absolute;
  bottom: 440px;
  left: 140px;
}

.bowl {
  width: 170px;
  height: 145px;
  background-color: none;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  position: absolute;
  bottom: 140px;
  left: 200px;
}

.floor {
  background-color: #D1E3E8;
  width: 1950px;
  height: 500px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}
